body {
    padding: 30px;
    background-color: #fcfcfc;
  }

  .container {
    height: 15cm;
    width: 50cm;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    
  }


  .col-2 {
    font-size: 25px;
    
    color: black;
    animation: blink-animation 1s steps(5, start) infinite;
      -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  

  
  @keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }